.glory{
  position: relative;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
.glorymask{
  position: relative;
  height: 24px;
  width: 100%;
  margin: 0px;
  margin-top: 150px;
  overflow: hidden;
}
.glorylist{
  position: relative;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  line-height: 24px;
  

}
.glorylist li{
list-style-type: none;
position: relative;
  width: 100%;
  text-align: center;
  line-height: 24px;
}